*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    font-family: brandon-grotesque, sans-serif;
}
#bg {
    object-fit:cover; 
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;
}
.boards{
    display: flex;
    justify-content: space-around;
    position: relative;
}
.board{
    background-color: white;
    width: 30%;
    height: 87vh;
    margin-top: 50px;
    border-radius: 20px;
}
.board h1{
    text-align: center;
    padding: 20px;
}

.list{
    display: flex;
    position: relative;
    justify-content: space-around;
}
.list p{
    font-size: 20px;
    padding-bottom: 20px;
}
.foot p{
    text-align: center;
    color: rgb(105, 105, 105);
}
@media screen and (max-width : 1024px){
 h1{
     font-size: 20px;
 }
.list p{
    font-size: 15px;
    padding-bottom: 30px;
}
.board{
    width: 45%;
}
p{
    font-size: 12px;
}
}
