@media screen and (max-width : 500px){
    .main{
        display: none;
    }
    .rotate {
        display: block;
        text-align: center;
        margin: 0;
        position: absolute;
        top: 50%;
        width: 100%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .buttons{
        display: none;
    }
}
@media screen and (max-width : 1024px){

}
